<div class="textBox">
  <ng-form id="{{$ctrl.block.data.name}}" name="{{$ctrl.formName}}">
    <h3>{{ $ctrl.block.data.label }}</h3>
    <div class="flex-container">

        <input type="text"
               name="{{$ctrl.block.data.name}}"
               ng-model="$ctrl.text"
               ng-class="{ 'parent-submitted': $ctrl.isTopLevelFormSubmitted }"
               ng-model-options="$ctrl.modelOptions"
               ng-required="{{$ctrl.block.required}}"
               ng-attr-placeholder="{{$ctrl.block.data.placeholder}}"
               ng-focus="$ctrl.hasFocus = true"
               ng-blur="$ctrl.hasFocus = false"
               ng-change="$ctrl.actionOnUserInput(this[$ctrl.formName].$valid)">
        </input>

      <div class="validation-icon-right has-focus" ng-show="$ctrl.hasFocus && !$ctrl.isTopLevelFormSubmitted" aria-hidden="true">
        <span class="right fontello-icon" aria-hidden="true">&lt;</span>
      </div>

      <div class="validation-icon-right" ng-hide="!this[$ctrl.formName][$ctrl.block.data.name].$dirty && !$ctrl.isTopLevelFormSubmitted" aria-hidden="true">
        <span ng-class="{ 'invalid': this[$ctrl.formName][$ctrl.block.data.name].$invalid }" class="right fontello-icon" aria-hidden="true">{{$ctrl.iconText}}</span>
      </div>

    </div>
  </ng-form>
</div>
