<div class="textBox">
  <ng-form id="{{$ctrl.block.data.name}}" name="{{$ctrl.FORM_NAME}}">
    <h3><label for="{{$ctrl.block.program_data_code}}">{{ $ctrl.block.data.label }}</label></h3>
    <div class="flex-container">

      <input type="{{$ctrl.block.data.config.type}}"
             name="{{$ctrl.block.data.name}}"
             id="{{$ctrl.block.program_data_code}}"
             ng-model="$ctrl.text"
             ng-class="{ 'parent-submitted': $ctrl.isTopLevelFormSubmitted }"
             ng-model-options="$ctrl.modelOptions"
             ng-required="{{$ctrl.block.data.config.required}}"
             ng-attr-placeholder="{{$ctrl.block.data.placeholder}}"
             ng-focus="$ctrl.hasFocus = true"
             ng-blur="$ctrl.hasFocus = false"
             ng-change="$ctrl.actionOnUserInput()">
      </input>

      <div class="validation-icon-right"
           ng-show="$ctrl.hasFocus || $ctrl.isStepCompleted || $ctrl.isTopLevelFormSubmitted || ( this[$ctrl.FORM_NAME].$valid && $ctrl.text.length )"
           ng-class="{ 'has-focus': !$ctrl.isTopLevelFormSubmitted && $ctrl.hasFocus && ( this[$ctrl.FORM_NAME].$invalid || !$ctrl.text.length ) }">
        <span class="right fontello-icon"
              ng-class="{ 'icon-pl-exclamation invalid': $ctrl.isTopLevelFormSubmitted && this[$ctrl.FORM_NAME].$invalid,
                          'icon-pl-tick' : $ctrl.isStepCompleted || ( this[$ctrl.FORM_NAME].$valid ),
                          'icon-pl-lt' : !$ctrl.isTopLevelFormSubmitted && $ctrl.hasFocus && ( this[$ctrl.FORM_NAME].$invalid || !$ctrl.text.length ) }">
        </span>
      </div>
    </div>

    <p class="sublabel" ng-if="$ctrl.block.data.subLabel">{{$ctrl.block.data.subLabel}}</p>
  </ng-form>
</div>
