@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.login-root {

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .login-panel {
    min-width: 100%;
    margin: auto;
    @media #{$xlarge-up} {
      min-width: $smallest-breakpoint;
      width: 33.333%
    }

    > .row {
        max-width: $small-breakpoint;
    }

    h1 {
      font-weight: 400;
      color: lighten($ship-grey, 30);
    }

    h2 {
      font-weight: 400;
      color: $onyx;
    }

    input {
      margin: 0;
    }

    label {
      text-transform: none;
    }
  }

  .image-login {
    // better to have this in a media query because we dont want this to load for mobile users
    @media #{$xlarge-up} {
      background-image: url('assets/bg.jpg');
      background-position: center right ;
      background-repeat: no-repeat;
      background-size: cover;
      width: 66.666%;
    }
    height: 100%;
  }

  .pl-logo {
    background-image: url('./assets/logo.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 72px;
    max-width: 290px;
    margin: 0 auto;
    .text {
      font-size: 0;
      text-indent: -9999em;
    }
  }

  h3 {
    text-transform: none;
  }

  small.error {
    margin-top: -0.3rem;
  }

  .show-password {
    margin-bottom: 0.5rem;
    margin-top: 0.35rem;

    .fontello-icon {
      color: $blue-focus;
      padding-right: $default-padding;
    }
  }

  .keep-me-logged {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: rem_calc(30px);

      .checkbox-label {
        @include noSelect;
        font-size: rem_calc(18px);
        padding-left: rem_calc(10px);
      }

      [type="checkbox"] {
        border-radius: $global-radius / 2;
        width: rem_calc(25px);
        height: rem_calc(25px);
      }
    }

    p {
      font-size: rem_calc(16px);
    }
  }

}
