.blockquote {
  &.list-wrap {
    min-height: rem_calc(44px);
  }
  padding: 0;
  padding-left: rem_calc(10px);
  color: $locked-grey;
  border: 0;
  p {
    border-left: 1px solid $locked-grey;
    margin-left: rem_calc(10px);
    padding-left: rem_calc(10px);
  }

  &.fgcolour-success {
    p {
      border-color: $success-color;
      color: $success-color;
    }
  }
}
