// should only be using colour-named styled for colour, not layout too
.bgcolour {
  &-grey {
    background-color: $really-light-grey;
    color: #606060;
  }

  &-silver {
    background-color: #EAEAEA;
  }

  &-dark-grey {
    background-color: $simon-black;
    color: #606060;
  }
}

.fgcolour {
  &-black {
    color: $black;
  }
  &-grey {
    color: $really-light-grey;
  }
  &-success {
    color: $success-color;
  }
  &-active {
    color: $blue-focus;
  }
  &-inactive {
    color: $really-light-grey;
  }
}
