fieldset {
  &[disabled] {

    textarea,
    [type] {
      border-color: lighten($ship-grey, 10);
      cursor: default;
    }

    .radio-checkbox {
      .checkbox-label,
      .radio-label,
      .shim {
        opacity: .3;
      }
      .selected {
        .checkbox-label,
        .radio-label,
        .shim {
          opacity: 1;
        }
      }

      label,
      .shim {
        cursor: default;
      }

      &.radioList {
        .list-footer .button {
          display: none;
        }
      }
    }
  }
}
