fieldset {

  input {
    &[type="text"],
    &[type="password"],
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="month"],
    &[type="week"],
    &[type="email"],
    &[type="number"],
    &[type="search"],
    &[type="tel"],
    &[type="time"],
    &[type="url"],
    &[type="color"] {
      padding: rem_calc(10px);
    }
  }

  textarea {
    padding: rem_calc(10px);
  }

  &[disabled] {

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    [type="radio"]:checked,
    [type="checkbox"]:checked  {

      &.parent-submitted,
      &.ng-dirty {
        &.ng-valid,
        &.ng-invalid {
          border-color: $oil;

          &::placeholder {
            color: transparentize($oil, .5);
          }
        }
      }

      ~ .shim {
        border-color: $onyx;
        &::after {
          color: $onyx;
        }
      }

    }

    textarea {
      resize: none;
    }

  }
}



.radio-checkbox {
  [disabled] {

    .note.invalid {
      color: inherit;
    }


    .checkbox-label,
    .radio-label,
    .shim {
      opacity: .3;
    }
    .selected {
      .checkbox-label,
      .radio-label,
      .shim {
        opacity: 1;
      }
    }

    label,
    .shim {
      cursor: default;
      line-height: rem_calc(28px);
    }

    &.radioList {
      .list-footer .button {
        display: none;
      }
    }
  }
}
