body {
  height: 100%;
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font: $defaultFont;
  line-height: 1.625rem;
}

.padding {
  &-10px {
    padding: rem_calc(10px);
  }
  &-20px {
    padding: rem_calc(20px);
  }
}

.move-right {
  .exit-off-canvas {
    box-shadow: none;
    @media #{$large-up} {
      display: none;
    }
  }
}

.y-center-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.y-center-child {
  align-self: center;
}


.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $black;
  margin: rem_calc(10px) 0;
  padding: 0;
}

.fontello-icon {
  font-family: 'fontello';
  font-size: rem_calc(18px);
  line-height: rem_calc(18px);

  color: $success-color;
  &.invalid {
    color: $alert-color;
  }
}

.visibilityHidden {
  visibility: hidden;
}

.flex-container {
  display: flex;

  .flex-expand-left {
    flex: 1;
  }

  .validation-icon-right {
    padding: $default-padding;
    width: rem_calc($validation-icon-right);
    height: rem_calc($validation-icon-right);
    border: 2px solid $onyx;
    border-radius: 50%;
    margin-left: $default-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ng-invalid-required ~ .validation-icon-right {
  border-color: $alert-color;
}
.ng-valid-required ~ .validation-icon-right {
  border-color: $success-color;
}
.ng-valid-required ~ .validation-icon-right.has-focus {
  border-color: $blue-focus;
}
