.fontello-icon {
  font-family: 'fontello';
  font-size: rem_calc(18px);
  line-height: rem_calc(18px);

  color: $success-color;
  &.invalid {
    color: $alert-color;
  }

  &.icon-success {
    &::before {
      @include makeIcon;
      background-color: $white;
      border-color: $success-color;
      color: $success-color;
    }
  }

  &.icon-active {
    &::before {
      @include makeIcon;
      background-color: $white;
      border-color: $blue-focus;
      color: $blue-focus;
    }
  }

  &.icon-inactive {
    &::before {
      @include makeIcon;
      background-color: $locked-grey;
      border-color: $locked-grey;
      color: $white;
    }
  }
}

.icon-pl {
  &-tick {
    padding-top: 2px;
    padding-right: 2px;
  }
}

.has-focus .fontello-icon {
  color: $blue-focus;
}

.congrats-banner {
  .icon-success {
    &::before {
      @include makeIcon;
      background-color: transparent;
      border-color: $white;
      color: $white;
    }
  }
}
