.menu-item {
  &.active {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
      height: 100%;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 20px solid green;
      z-index: 100;
    }
  }
}
