.radio-checkbox {
  width: 100%;

  .note.invalid {
    color: $alert-color;
  }

  .checkbox-label,
  .radio-label {
    width: calc(100% - (#{$validation-icon-right} + 1em));
  }

  [type="radio"],
  [type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;

    ~ .shim {
      display: block;
      border: 2px solid $ship-grey;
      border-radius:  50%;
      background-color: $white;
      margin: 0;
      width: rem_calc($validation-icon-right);
      height: rem_calc($validation-icon-right);
      position: relative;
      cursor: pointer;
      transition: all $speed3 / 2;

      &::after {
        content: '';
        font-family: 'fontello';
        font-size: rem_calc(0px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $success-color;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all $speed3 / 2;
      }
    }



    &:focus ~ .shim {
      outline: 0;
      border-color: $blue-focus !important;
      &::after {
        color: $blue-focus !important;
      }
    }

    &:checked ~ .shim {
      border-color: $success-color;
      &::after {
        content: 't';
        font-size: rem_calc(18px);
        padding-top: 3px;
        opacity: 1;
      }
    }
  }

  [type="checkbox"] {
    ~ .shim {
      border-radius: rem_calc(8px);
    }
  }

  .ng-invalid-required {
    .validation-icon-right {
      border-color: $alert-color;
    }
  }

  .ng-valid-required {
    .validation-icon-right {
      border-color: $success-color;
    }
  }

  .blockquote {
    @extend label;
    cursor: default;
    padding: 0;
  }

  .ng-hide-add-active { // speeds up show/hide because there is ng-animate involved
    display: none;
  }
}

.input-checkbox {
  [type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;

    ~ .shim {
      display: block;
      border: 2px solid $ship-grey;
      border-radius:  50%;
      background-color: $white;
      margin: 0;
      width: rem_calc($validation-icon-right);
      height: rem_calc($validation-icon-right);
      position: relative;
      cursor: pointer;
      transition: all $speed3 / 2;

      &::after {
        content: '';
        font-family: 'fontello';
        font-size: rem_calc(0px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $success-color;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all $speed3 / 2;
      }
    }



    &:focus ~ .shim {
      outline: 0;
      border-color: $blue-focus !important;
      &::after {
        color: $blue-focus !important;
      }
    }

    &:checked ~ .shim {
      border-color: $success-color;
      &::after {
        content: 't';
        font-size: rem_calc(18px);
        padding-top: 3px;
        opacity: 1;
      }
    }
  }
}
