.toggle-show-more {
  @media #{$small-only} {
    margin-left: rem_calc(-15px);
    margin-right: rem_calc(-15px);
  }
  background-color: $light-grey;
  margin: 0;
  padding: $default-padding;

  .button {
    font-size: rem_calc(16px);
    margin: 0;
    padding: $default-padding;
  }
}
