// rotate elements

//rotate element 90˚ anti-clockwise
.rotate-90-l {
  transform: rotate(-90deg);
  display: inline-block;
}

//rotate element 90˚ clockwise
.rotate-90-r {
  @extend .rotate-90-l;
  transform: rotate(90deg);
}
