#{headings()}, p {
  font: $defaultFont;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $oil;
  margin-bottom: rem_calc(20px)
}

h1 {
  font-size: rem_calc(30px);
  font-weight: bold;
  line-height: rem_calc(29px);
}

h2 {
  font-size: $h2-20px;
  font-weight: bold;
  line-height: $h1-34px;
}

h3 {
  font-size: $h3-18px;
  font-weight: bold;
  line-height: $h3-28px;
  label {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;
  }
}

h4 {
  color: #F06334;
  font-size: $h4-14px;
  font-weight: $font-weight-bold;
  line-height: $h4-18px;
  text-transform: uppercase;
}

p,
li,
textarea,
label,
blockquote,
input:not([type='button']):not([type='checkbox']):not([type='radio']) {
  @include defaultParagraph();

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  &:last-child {
    margin-bottom: 0;
  }
}

.quote {
  font-style: italic;
  font-family: 'Open Sans', serif;
  font-weight: $font-weight-bold;
  text-transform: none;
  line-height: rem_calc(24px);
  padding-top: rem_calc(10px);
  @media #{$medium-up} {
    padding-top: 0;
  }
}

.quote-signature {
  @extend .quote;
  font-weight: 400;
}

.h1-style {
  @extend h1;
}

.h2-style {
  @extend h2;
}

.h3-style {
  @extend h3;
}

.h4-style {
  @extend h4;
}

.subheading {
  @extend h1;
}

.note {
  font-size: rem_calc(14px);
}

.chart-title {
  @extend h2;
}
