@import '~client/app/common/scss/_vars';
// @import '~client/app/common/_foundation-settings';

.validation-icon-right {
  border: 2px solid $onyx;
}

.step-frozen .flex-container > .validation-icon-right {
  border-color: $onyx;
  .fontello-icon {
    color: $onyx;
  }
}

.ng-invalid {
  ~ .validation-icon-right,
  .validation-icon-right {
    border-color: $alert-color;
    .fontello-icon {
      color: $alert-color;
    }
  }
}

.ng-valid {
  ~ .validation-icon-right,
  .validation-icon-right {
    border-color: $success-color;
    .fontello-icon {
      color: $success-color;
    }
  }
}

.ng-invalid ~ .validation-icon-right.has-focus,
.ng-valid ~ .validation-icon-right.has-focus {
  border-color: $blue-focus;

  .fontello-icon {
    color: $blue-focus;
  }
}
