// colours
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #FFFFFF;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;
$onyx: #101010;

// changeLanguageHeight
$changeLanguageHeight: 20px;

// default font
$defaultFont: 100% 'Montserrat', sans-serif;

// heading sized in px as rem units
$h1-30px: 1.875rem;
$h1-34px: 2.125rem;
$h3-18px: 1.125rem;
$h3-28px: 1.75rem;
$h4-14px: 0.875rem;
$h4-18px: 1.125rem;

// gives padding
$padding-10px: rem_calc(10px);

// animation speed
$speed3: 333ms;
$speed5: 500ms;
