
.icon-pl-exclamation:before { content: '\21'; } /* '!' */
.icon-pl-lt:before { content: '\3c'; } /* '&lt;' */
.icon-pl-gt:before { content: '\3e'; } /* '&gt;' */
.icon-pl-eye:before { content: '\65'; } /* 'e' */
.icon-pl-lock:before { content: '\6c'; } /* 'l' */
.icon-pl-pdf:before { content: '\70'; } /* 'p' */
.icon-pl-tick:before { content: '\74'; } /* 't' */
.icon-pl-logo:before { content: '\75'; } /* 'u' */