@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.loading-spinner {

  position: relative;
  height: 100%;
  width: 100%;

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: rem_calc(10px);
    margin-left: rem_calc(-30px);
    content: '';
    box-sizing: border-box;
    width: rem_calc(60px);
    height: rem_calc(60px);
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: $logoColor;
    animation: spinner .6s linear infinite;
  }

  .logo {
    top: 50%;
    left: 50%;
    margin-top: rem_calc(-70px);
    margin-left: rem_calc(-145px);
    position: absolute;
    display: inline-block;
    background-image: url('https://dchai72lj2pqb.cloudfront.net/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 80%;
    text-indent: -9999em;
    height: rem_calc(60px);
    width: rem_calc(290px);
  }

  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: rem_calc(25px);
    margin-left: rem_calc(40px);
  }
}
