@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

.reset-password {
  input[type="text"],
  input[type="password"] {
    height: 3rem;
    @include inputsBorderStyling();
  }

  .pass-requirements {
    margin-bottom: 0;
  }

  .pass-list-requirements {
    margin-left: 2rem;
  }
}
