    <div class="reset-password">

  <div class="text-center">
    <h1>{{ $ctrl.labelAction }}</h1>
  </div>

  <br/>
  <br/>

    <p class="pass-requirements">{{ 'PASSWORD_REQUIREMENTS' | translate }}:</p>
    <ul class="pass-list-requirements">
      <li>{{ 'PASSWORD_REQUIREMENTS_8_CHARACTERS' | translate }}</li>
      <li>{{ 'PASSWORD_REQUIREMENTS_NO_SPACE' | translate }}</li>
      <!--<li>{{ 'PASSWORD_REQUIREMENTS_UPPERCASE' | translate }}</li>-->
      <!--<li>{{ 'PASSWORD_REQUIREMENTS_LOWERCASE' | translate }}</li>-->
      <!--<li>{{ 'PASSWORD_REQUIREMENTS_NUMBER' | translate }}</li>-->
    </ul>

  <form novalidate name="changePassword">

    <small class="error" ng-show="changePassword.$submitted && resetPassword.$error.nomatch">{{ 'PASSWORD_DONT_MATCH' | translate }}</small>
    <small class="error" ng-show="changePassword.$submitted && resetPassword.$error.complexity">{{ 'PASSWORD_COMPLEXITY' | translate }}</small>

    <small class="error" ng-show="$ctrl.errorFromBackEnd > 0">
      {{ 'ERROR_WITH_BACKEND' | translate }}
      <span ng-show="$ctrl.errorFromBackEnd === 1">{{ 'PLEASE_TRY_AGAIN' | translate }}</span>
      <span ng-show="$ctrl.errorFromBackEnd > 1">{{ 'PLEASE_EMAIL_SUPPORT' | translate }}</span>
    </small>

    <ul class="no-list">
      <li>

        <div class="clearfix">
          <div class="left">
            <h3>{{ 'PASSWORD_NEW' | translate }}</h3>
          </div>
          <div class="right show-password">
            <a ng-click="$ctrl.showPassword = !$ctrl.showPassword">
              <span class="fontello-icon icon-pl-eye"></span>
              <span>{{ $ctrl.showPassword ? 'HIDE' : 'SHOW' | translate }}</span>
            </a>
          </div>
        </div>
        <input ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
               name="password"
               ng-class="{ 'form-submitted': changePassword.$submitted }"
               required
               ng-change="$ctrl.comparePassword(changePassword)"
               ng-model="$ctrl.password">
        <small class="error" ng-show="changePassword.$submitted && changePassword.password.$error.required">{{ 'PASSWORD_NEW_REQUIRED' | translate }}</small>
      </li>
      <li>

        <div class="clearfix">
          <div class="left">
            <h3>{{ 'PASSWORD_NEW_RETYPE' | translate }}</h3>
          </div>
          <div class="right show-password">
            <a ng-click="$ctrl.showPasswordConfirmation = !$ctrl.showPasswordConfirmation">
              <span class="fontello-icon icon-pl-eye"></span>
              <span>{{ $ctrl.showPasswordConfirmation ? 'HIDE' : 'SHOW' | translate }}</span>
            </a>
          </div>
        </div>
        <input ng-attr-type="{{ $ctrl.showPasswordConfirmation ? 'text' : 'password' }}"
               name="passwordConfirmation"
               ng-class="{ 'form-submitted': changePassword.$submitted }"
               required
               ng-change="$ctrl.comparePassword(changePassword)"
               ng-model="$ctrl.passwordConfirmation">
        <small class="error" ng-show="changePassword.$submitted && changePassword.passwordConfirmation.$error.required">{{
          'PASSWORD_NEW_RETYPE_REQUIRED' | translate }}
        </small>
      </li>
      <li>
        <button class="expand radius" type="submit" ng-click="$ctrl.changePassword(changePassword)">{{ $ctrl.labelAction }}</button>
      </li>
    </ul>
  </form>
</div>
