<div class="reset-password">

  <br/>
  <form novalidate name="resetPassword">

    <small class="error" ng-show="resetPassword.$submitted && resetPassword.$error.nomatch">{{ 'PASSWORD_DONT_MATCH' | translate }}</small>

    <small class="error" ng-show="$ctrl.errorFromBackEnd > 0">
      {{ 'ERROR_WITH_BACKEND' | translate }}
      <span ng-show="$ctrl.errorFromBackEnd === 1">{{ 'PLEASE_TRY_AGAIN' | translate }}</span>
      <span ng-show="$ctrl.errorFromBackEnd > 1">{{ 'PLEASE_EMAIL_SUPPORT' | translate }}</span>
    </small>

    <div class="clearfix">
      <div class="left">
        <h3>{{ 'PASSWORD_NEW' | translate }}</h3>
      </div>
      <div class="right">
        <a ng-click="$ctrl.showPassword = !$ctrl.showPassword">Show</a>
      </div>
    </div>
    <input ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
           name="password"
           ng-class="{ 'form-submitted': resetPassword.$submitted }"
           required
           ng-change="$ctrl.comparePassword(resetPassword)"
           ng-model="$ctrl.password">
    <small class="error" ng-show="resetPassword.$submitted && resetPassword.password.$error.required">{{ 'PASSWORD_NEW_REQUIRED' | translate }}</small>

    <div class="clearfix">
      <div class="left">
        <h3>{{ 'PASSWORD_NEW_RETYPE' | translate }}</h3>
      </div>
      <div class="right">
        <a ng-click="$ctrl.showPasswordConfirmation = !$ctrl.showPasswordConfirmation">Show</a>
      </div>
    </div>
    <input ng-attr-type="{{ $ctrl.showPasswordConfirmation ? 'text' : 'password' }}"
           name="passwordConfirmation"
           ng-class="{ 'form-submitted': resetPassword.$submitted }"
           required
           ng-change="$ctrl.comparePassword(resetPassword)"
           ng-model="$ctrl.passwordConfirmation">
    <small class="error" ng-show="resetPassword.$submitted && resetPassword.passwordConfirmation.$error.required">{{ 'PASSWORD_NEW_RETYPE_REQUIRED' | translate }}</small>

    <button class="expand radius" type="submit" ng-click="$ctrl.resetPassword(resetPassword)">{{ 'RESET_PASSWORD' | translate }}</button>
  </form>
</div>
