@import 'common/common';

.reset-password {

  input[type="text"],
  input[type="password"] {
    &:focus {
      border: 2px solid $blue-focus;
    }

    &.form-submitted {
      &.ng-invalid {
        border: 2px solid $alert-color;
        color: $alert-color;

        &::placeholder {
          color: $alert-color;
        }
      }

      &.ng-valid {
        border: 2px solid $success-color;
        &::placeholder {
          color: $success-color;
        }
      }

    }
  }


}
