<div class="via-survey">
  <p>THis is a survey that will last 120 questions</p>
  <p>it is to evaluate your strenght, click on the button below to start the survey</p>
  <button type="button" class="radius" ng-click="$ctrl.startSurvey()">Start survey</button>

  <div ng-show="$ctrl.surveyStarted && $ctrl.radioQuestions.length">
    <div ng-repeat="question in $ctrl.radioQuestions">
      <p>question.program_data_code= {{question.program_data_code}}</p>
      <radio-list
        update-block-manager="$ctrl.onUpdate(question.program_data_code, blockManagerValue)"
        is-step-completed="$ctrl.isStepCompleted"
        is-top-level-form-submitted="$ctrl.isTopLevelFormSubmitted"
        block="question">
      </radio-list>
      <br/>
    </div>
  </div>
</div>
