<div id="via-survey" class="via-survey">

  <div ng-if="$ctrl.tabToDisplay === 'questions'">

    <html-module data="$ctrl.block.data.intro_survey"></html-module>

    <p class="text-center">{{$ctrl.currentPageNumber}} / {{$ctrl.nbPagesSurvey}}</p>

    <div ng-repeat="question in $ctrl.radioQuestions | limitTo: $ctrl.config.nbQuestionsDisplayed : $ctrl.numFirstQuestionDisplayed">
      <radio-list
        update-block-manager="$ctrl.onUpdate(question.program_data_code, blockManagerValue)"
        is-step-completed="$ctrl.isStepCompleted"
        is-top-level-form-submitted="$ctrl.simulateTopLevelFormSubmitted[$ctrl.currentPageNumber]"
        block="question">
      </radio-list>
      <br/>
    </div>

    <p class="text-center">{{$ctrl.currentPageNumber}} / {{$ctrl.nbPagesSurvey}}</p>
  </div>

  <div ng-if="$ctrl.tabToDisplay === 'results'">
    <html-module data="$ctrl.block.data.intro_results"></html-module>
    <checkbox
      update-block-manager="$ctrl.onUpdate($ctrl.block.program_data_code, blockManagerValue)"
      is-step-completed="$ctrl.isStepCompleted"
      is-top-level-form-submitted="$ctrl.isListOfStrengthFormSubmitted"
      block="$ctrl.listOfStrengthsForCheckBox">
    </checkbox>
  </div>

</div>
