@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-functions';
@import '~client/app/common/_foundation-settings';


footer {
  background-color: $onyx;
  padding-left: rem-calc(5px);
  padding-right: rem-calc(5px);
  @media #{$medium-up} {
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);
  }
}

.footer {
  color: $white;

  .hr {
    border-top-color: transparentize($white, 0.6);
  }
}
