@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

main {
  height: 100%;

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;

    .navbarWrap {
      flex: 1;
    }
  }

}


