@import '../common';

$canvasMenuLinkTextColor:  #FFFFFF;
$fullHeight: 100%;

.navbar {
  height: 100%;
  background-color: $primaryColor;


  .content {
    padding: 1rem;
  }

  a {
    color: $canvasMenuLinkTextColor;
  }

  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .left-off-canvas-menu {
    margin-top: $tabbar-height;
  }

  .main-section {
    padding-top: $tabbar-height;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  //For mobile: tab-bar is fixed, for the rest, we can scroll down
  @media #{$small-only} {
    .off-canvas-wrap,
    .off-canvas-wrap .inner-wrap{
      height: 100%;
      width: 100%;
    }
  }

  //For desktop: We put a min-height to solve a bug with the menu (module menu item appearing in step section)
  /*
  @media #{$medium-up} {
    .off-canvas-wrap,
    .off-canvas-wrap .inner-wrap{
      height: 100%;
    }

    .off-canvas-wrap{
      height: 100%;
    }
  }
  */

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }


  .left-submenu {
    height: 100%;
  }

  //HACK
  //There is a bug in the offCanvas with Angular, the submenu are not working properly
  //as described here: https://github.com/pineconellc/angular-foundation/pull/137
  //The workaround to fix this is to redefine the directive and the css associated

  ul.off-canvas-list-bugfix {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.off-canvas-list-bugfix li label {
    background: #444444;
    border-bottom: none;
    border-top: 1px solid #5e5e5e;
    color: #999999;
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
    padding: 0.3rem 0.9375rem;
    text-transform: uppercase;
  }
  ul.off-canvas-list-bugfix li a {
    border-bottom: 1px solid #262626;
    color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0.66667rem;
    transition: background 300ms ease;
  }
  ul.off-canvas-list-bugfix li a:hover {
    background: #242424;
  }
  ul.off-canvas-list-bugfix li a:active {
    background: #242424;
  }

  .left-off-canvas-menu ul.off-canvas-list-bugfix li.has-submenu > a:after {
    content: "\BB";
    margin-left: .5rem;
    display: inline;
  }

  .right-off-canvas-menu ul.off-canvas-list-bugfix li.has-submenu > a:before {
    content: "\AB";
    margin-right: .5rem;
    display: inline;
  }

}
