<div class="navbar">
  <div class="off-canvas-wrap">
    <div class="header">
      <nav class="tab-bar" data-offcanvas>

        <div>
          <section class="tab-bar-section">

            <div ng-if="$ctrl.displayMenu">
              <div class="menu-toggle-button left-off-canvas-toggle" ng-click="$ctrl.toggleMenu()">
              <span class="line-wrap">
                <i></i>
                <i></i>
                <i></i>
              </span>
                <!--<span class="text text-menu">menu</span>-->
                <!--<span class="text text-hide">hide</span>-->
              </div>
            </div>

            <h1 class="title logo-potential-life">
              <a pl-disable-link="!$ctrl.displayMenu" ui-sref="{{$ctrl.homeState}}">{{$ctrl.Potentialife}}</a>
            </h1>

            <a href="#content" class="accessible-link">Skip to content</a>
          </section>
        </div>


        <div class="user-full-name">
          {{$ctrl.getUserFullName()}}
        </div>

      </nav>
    </div>

    <div class="inner-wrap">

      <aside ng-if="$ctrl.displayMenu" class="left-off-canvas-menu">
        <ul class="off-canvas-list-bugfix">
          <menu-item item="$ctrl.menu.data"></menu-item>
        </ul>
      </aside>

      <section class="main-section">
        <company-banner ng-if="$ctrl.isBannerExist()"></company-banner>
        <spinner name="$ctrl.courseContentSpinner.name" show="false"></spinner>

        <div ng-show="!$ctrl.courseContentSpinner.show" id="content" class="content" ui-view></div>
      </section>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>
      <footer></footer>
    </div>
  </div>
</div>
