@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';


$canvasMenuLinkTextColor:  #fff;
$fullHeight: 100%;

$topTitleMenuColor: #ff8534;
$mainTitleMenuColor: #a0a0a0;

.header {
  .tab-bar {
    background-color: $onyx;

    .right-small {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .logo-potential-life a {
    display: inline-block;
    background-image: url('./assets/logo-potential-life.svg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 80%;
    text-indent: -9999em;
    height: auto;
    width: 270px;
  }
}

menu-item {
  display: block;
}

.menu-toggle-button {

  $menu-size: 45px;
  $radius: 4px;
  $speed: 500ms;

  @include noSelect();

  border: 1px solid $white;
  border-radius: $radius;
  cursor: pointer;
  width: $menu-size;
  height: $menu-size;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  .line-wrap {
    display: block;
    width: $menu-size - 14px;
    height: $menu-size - 15px;
    position: absolute;
    top: 6px;
    left: 6px;
  }

  i {
    background-color: $white;
    border-radius: $radius;
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform $speed, opacity $speed;

    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3) {
      top: 16px;
    }
  }
  .text {
    color: $white;
    display: block;
    font-size: 10px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    transform: translateZ(0);

    &-hide {
      display: none;
    }
  }
}

.navbar {
  height: 100%;

  company-banner {
    display: block;

    ~ .content .course-content {
      min-height: calc(100vh - #{$height-footer-nav-banner} - #{$height-company-banner});
    }
  }

  .content {
    height: 100%;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @media #{$large-up} {
      position: absolute;
    }
  }

  .left-off-canvas-menu {
    margin-top: $tabbar-height;

    a {
      display: block;
      color: $canvasMenuLinkTextColor;
    }

    .home {
      display: flex;
      background-color: $onyx;
      border-top: 1px solid #5e5e5e;
      cursor: pointer;
      padding: 1.25rem .6667rem .6667rem .6667rem;
      .columns {
        padding: 0;
      }
      .main-title,
      .below-title {
        color: $white;
      }
    }

    .pl-menu-button {
      width: 80%;
      height: 50px;
      background-size: contain;
      background-position: 50%;
      background-repeat: no-repeat;
      display: block;
    }

    .current {
      .pl-menu-button {
        background-image: url('./assets/menu-item-current.svg');
      }
    }

    .locked {
      .pl-menu-button {
        background-image: url('./assets/menu-item-locked.svg');
      }
    }

    .completed {
      .pl-menu-button {
        background-image: url('./assets/menu-item-completed.svg');
      }
    }

    .back {
      .pl-menu-button {
        background-image: url('./assets/menu-item-back.svg');
        width: 85%;
      }
    }

    .home {
      .pl-menu-button {
        width: 85%;
        background-image: url('./assets/menu-item-home.svg');
      }
    }

    .logout {
      background-color: $ship-grey;
      border-bottom: 0;
      cursor: pointer;
      position: absolute;
      padding-top: .3334rem;
      padding-bottom: .3334rem;
      .pl-menu-button {
        font-size: rem_calc(30);
        &::before {
          margin-top: rem_calc(15px);
        }
      }
    }
  }

  .main-section {
    padding-top: $tabbar-height;
    height: 100%;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform $speed3;
    padding-bottom: $footerHeight;
  }

  .off-canvas-wrap,
  .off-canvas-wrap .inner-wrap {
    &::before,
    &::after {
      display: none;
    }
    // For mobile: tab-bar is fixed, for the rest, we can scroll down
    @media #{$small-only} {
      height: 100%;
      width: 100%;
    }
    // For desktop: We put a min-height to solve a bug with the menu (module menu item appearing in step section)
    @media #{$medium-up} {
      height: 100%;
    }
  }

  .off-canvas-wrap {
    @media #{$medium-up} {
      height: 100%;
    }


    .inner-wrap {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .move-right {
    .main-section,
    footer {
      @media #{$xlarge-up} {
        transform: translateX(-#{$off-canvas-width / 2});
      }
    }

    .menu-toggle-button {
      .text-menu {
        display: none;
      }
      .text-hide {
        display: block;
      }

      i {
        &:nth-child(1) {
          transform: rotate(45deg) translateX(6px) translateY(5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateX(6px) translateY(-6px);
         }
      }
    }

  }

  .menu-button {
    width: 100%;
    height: auto;
    border-bottom: 2px solid $onyx;
    color: transparentize($white, .3);
    display: flex;
    padding: .66667rem;
    transition: background-color $speed3 ease;

    &:hover,
    &:active {
      background-color: $onyx;
    }

    &.row {
      &::before,
      &::after {
        content: none;
      }
    }

    p {
      margin-bottom: 0;
      line-height: 1.25rem;

      &.top-title {
        font-size: 10px;
        color: $topTitleMenuColor;
        text-transform: uppercase;
      }

      &.main-title {
        font-size: 18px;
        -webkit-font-smoothing: subpixel-antialiased;
        color: $mainTitleMenuColor;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
      }

      &.below-title {
        font-size: 10px;
        color: $mainTitleMenuColor;
      }
    }
  }

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links {
    span {
      color: $lightTextColor;
      font-size: 1.6rem;
    }
  }


  .left-submenu {
    height: 100%;

    .back {
      display: block;
      a {
        align-items: center;
        background-color: $onyx;
        border-bottom: 2px solid $onyx;
        padding: 1.25rem .6667rem .6667rem rem_calc(5px);
        display: flex;
        &::before {
          display: none;
        }
        &:hover {
          border-bottom: 2px solid $onyx;
        }
        .small-2 {
          width: 19%;
        }
      }
      .main-title,
      .below-title {
        color: $white;
      }
    }
  }

  .menu-item {
    display: block;

    a {
      width: 100%;
    }

    &.stepActive {
      .menu-button {
        background-color: $black;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        position: relative;

        &::after {
          content: '\3e';
          height: 30px;
          position: absolute;
          top: calc(50% - 10px);
          right: 10px;
          color: $white;
          font-family: "fontello";
          font-style: normal;
          font-weight: normal;
          speak: none;
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          font-variant: normal;
          text-transform: none;
          line-height: 1em;
          margin-left: .2em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        p {
          &.main-title,
          &.below-title {
            color: $white;
          }
        }
      }
    }
  }


  //HACK
  //There is a bug in the offCanvas with Angular, the submenu are not working properly
  //as described here: https://github.com/pineconellc/angular-foundation/pull/137
  //The workaround to fix this is to redefine the directive and the css associated

  .off-canvas-list-bugfix {
    margin: 0;
    padding: 0;
  }

  .fix-nav-under {
    > div {
      display: none;
      &.show-this-nav {
        display: block;
      }
    }
  }

}
