<div class="home">

  <h1>Potentialife</h1>
  <h3>{{ 'WELCOME' | translate }} {{$ctrl.firstName}}</h3>
  <h5>{{ 'YOUR_POTENTIALIFE_JOURNEY' | translate }}</h5>

  <button type="submit" ng-click="$ctrl.resumeProgress()">{{ 'RESUME_PROGRESS' | translate }}</button>

  <p>This is a really long line, so we can see how it behaves when some text are longer than the screen size. Fun Fact: In the USA, there are more Chinese restaurants than all the McDonald’s, KFCs, Burger Kings and Wendy’s put together.</p>
  <p>I'm testing the menu service: {{ $ctrl.nameFromMenuServuce }}</p>
  <p>I'm testing the menu service function: {{ $ctrl.nameFromMenuServiceFunction }}</p>
  <p>I'm testing the translate module: {{ $ctrl.headline }}</p>
  <p>I'm testing for the second time the translate module: {{ 'ANOTHER_TEXT' | translate }}</p>
  <p>Testing Integration with User Factory name={{$ctrl.myName}}</p>

  <p>Name from User Factory with Mock BackEnd = {{$ctrl.nameFromUserFactory}}</p>
  <p>Name for test = {{$ctrl.test}}</p>
  <p><a class="bold" ui-sref="/potentialife-course/cycle-2/module-11">module 11</a></p>
  <button type="submit" ng-click="$ctrl.getAllUserData()">resource</button>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>etsts</h1>
  <h1>Last one</h1>

</div>
