@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

.home {

  padding-top: $padding-10px;
  padding-bottom: $padding-10px;

  .cycle {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .cycle-title h4 {
    margin-bottom: 0rem;
  }

  .cycle-title h3 {
    margin-top: 0rem;
    text-transform: none;
  }

  .cycle-title.locked h3,
  .cycle-title.locked h4 {
    color: $locked-grey;
  }

  @media #{$medium-up} {
    .y-center-parent {
      display: flex;
      align-items: center;
    }

    .y-center-child {
      align-self: center;
    }

    .left-padding {
      padding-left: rem_calc(10px);
    }

    #faq {
      padding-right: 0.5rem;
    }

    #support {
      padding-left: 0.5rem;
    }
  }

  .not-locked .c3-chart-arcs text {
    fill: $success-color;
    font-size: 1.8rem;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
  }

  .c3-shapes-completed path {
    fill: $success-color !important;
  }

  .c3-shapes-remaining {
    fill-opacity: 0;
  }

  .c3-chart-arc path {
    stroke-dasharray: 5,5;
    stroke: #C3C3C3;
    stroke-width: 1;
  }

  .c3-chart-arcs text {
    font-family: 'fontello';
    font-size: 1rem;
    fill: $locked-grey;
  }

  @media #{$medium-only} {
    .not-locked .c3-chart-arcs text {
      font-size: 1.3rem;
    }

    .c3-chart-arcs text {
      font-size: 2.6rem;
    }
  }

  @media #{$large-up} {
    .not-locked .c3-chart-arcs text {
      font-size: 1.2rem;
    }

    .c3-chart-arcs text {
      font-size: 2.2rem;
    }
  }

  @media #{$xlarge-up} {
    .not-locked .c3-chart-arcs text {
      font-size: 1.8rem;
    }

    .c3-chart-arcs text {
      font-size: 3.5rem;
    }
  }

  .c3-target text {
    display: none;
  }

}
