<div class="home row collapse">

  <div class="small-12 medium-8 small-centered columns">


    <h1 class="text-center">{{ 'WELCOME' | translate }} {{$ctrl.firstName}}!</h1>
    <h4 class="text-center">{{ 'WATCH_YOURSELF_PROGRESS' | translate }}</h4>


    <div id="cycles" class="row collapse">
      <div class="columns medium-4" ng-class="{'show-for-medium-up': cycle.status !== 'current'}" ng-repeat="cycle in $ctrl.menu.data.children track by cycle.id">
        <div ng-class="{'not-locked': cycle.status !== 'locked'}" class="cycle text-center">
          <div>
            <c3chart bindto-id="{{cycle.slug}}" sort-data="null">
              <chart-column style="display:none" column-id="remaining"
                            column-values="{{cycle.progress.remaining}}"
                            column-type="donut"/>
              <chart-column style="display:none"
                column-id="completed"
                            column-values="{{cycle.progress.completed}}"
                            column-type="donut"/>
              <chart-donut title="{{$ctrl.getDonutTitle(cycle)}}" width="40"/>
              <chart-legend show-legend="false"></chart-legend>
              <chart-tooltip show-tooltip="false"></chart-tooltip>
              <chart-size chart-height="200px" />
            </c3chart>
          </div>
          <div ng-class="{'locked': cycle.status === 'locked'}" class="cycle-title">
            <h4>{{cycle.title | uppercase }}</h4>
            <h3>{{cycle.name}}</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="row grey-bg collapse text-center">
      <div class="columns small-12">
        <h4>{{'CURRENT_LOCATION' | translate }}</h4>
        <div class="show-for-small-only">
          <h3>{{$ctrl.currentProgression.data.current_module.title | uppercase}}</h3>
          <h3>{{$ctrl.currentProgression.data.current_module.name | uppercase}}</h3>
        </div>
        <div class="show-for-medium-up">
          <h3>{{$ctrl.currentProgression.data.current_module.title | uppercase}}&nbsp;<span>&bull;</span>&nbsp;{{$ctrl.currentProgression.data.current_module.name | uppercase}}</h3>
        </div>
        <button class="button radius success" type="submit" ng-click="$ctrl.resumeProgress()">
          {{$ctrl.currentProgression.data.current_step.title | uppercase}} &bull; {{$ctrl.currentProgression.data.current_step.name | uppercase}}
        </button>

      </div>
    </div>


    <div id="quote" class="row collapse">
      <div class="columns small-12">

        <div class="row collapse">
          <div class="columns small-12">
            <h4>{{'PARTICIPANT_REFLECTION' | translate }}</h4>
          </div>
        </div>

        <div class="row collapse">
          <div class="columns small-12">
            <div class="row grey-bg collapse y-center-parent">

              <div class="columns small-12 medium-2 medium-push-10 y-center-child">
                <div class="left-padding">
                  Picture of someone
                </div>
              </div>

              <div class="columns small-12 medium-10 medium-pull-2">
                <div><h3 class="quote text-justify">{{$ctrl.quote}}</h3></div>
                <div class="text-center"><h3 class="quote-signature">{{$ctrl.dynamicContent.data.quoteNameGuy}}</h3></div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row collapse">
        <div id="faq" class="small-12 medium-6 columns medium-margin-right">
          <h4>{{'FAQS' | translate }}</h4>
          <div class="grey-bg">
            <p>{{'FAQS_TEXT' | translate }}</p>
            <button class="radius secondary expand" type="submit" ng-click="$ctrl.goToFAQs()">{{'FAQS' | translate }}</button>

          </div>
        </div>
        <div id="support" class="small-12 medium-6 columns medium-margin-left">
          <h4>{{'SUPPORT' | translate }}</h4>
          <div class="grey-bg">
            <p>{{'SUPPORT_TEXT' | translate }}</p>
            <button class="radius secondary expand" type="submit" ng-click="$ctrl.sendUsEmail()">{{'EMAIL_US' | translate }}</button>
          </div>
        </div>
    </div>
  </div>

</div>
