@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

.video-module {
  color: $darkBgColor;

  .vjs-video-wrap {
    margin-left: -$padding-10px;
    margin-right: -$padding-10px;
  }

  .vjs-text-track-display {
    [title="Angus"] {
      color: $video-colour-highlight;
    }
    [title="Tal"] {
      color: $blue-focus;
    }
  }
}

$buttonXY: 8rem;

.video-module .video-js {
  .vjs-big-play-button {
    border: 2px solid $white;
    border-radius: 50%;
    margin: 0;
    height: $buttonXY;
    width: $buttonXY;
    top: calc(50% - (#{$buttonXY} / 2));
    left: calc(50% - (#{$buttonXY} / 2));

    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem_calc(120);
    }
  }

  .vjs-progress-holder {
    height: calc(1em + 4px);
    border-radius: 2em;
    border: 2px solid $video-colour-accent;
    background-color: $video-colour-accent;

    .vjs-play-progress,
    .vjs-load-progress,
    .vjs-tooltip-progress-bar,
    .vjs-load-progress div {
      height: 1em;
      border-radius: 2em;
      background-color: $video-colour-accent;
    }

    .vjs-play-progress {
      background-color: $video-colour-highlight;
      border-radius: 2em;
      min-width: 1em;

      &::before {
        display: none;
        border-radius: 2em;
        color: $video-colour-highlight;
        top: 0;
        right: -.5em;
        font-size: 1em;
      }
    }
  }

  .vjs-progress-control {
    &:hover .vjs-progress-holder {
      font-size: 1.3em;
    }
  }

  .vjs-big-play-button,
  .vjs-control-bar {
    background-color: transparentize($black, .9);
  }

  .vjs-control,
  .vjs-play-control,
  .vjs-mute-control,
  .vjs-volume-menu-button {
    color: $white;
  }

  .vjs-volume-level {
    background-color: $white;
  }
  button {
    &:hover,
    &:focus {
      background-color: $video-colour-highlight;
    }
  }
}
