@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.html-module {


  .left-border {
    border-left: .15rem solid;
    padding-left: $default-padding;
  }

  .color-very-dark-grey * {
    color: $very-dark-grey;
  }

  .padding-top-bottom {
    padding-top: $default-padding;
    padding-bottom: $default-padding;
  }

  p {
    margin-bottom: rem_calc(25px);
  }

  img {
    margin: rem_calc(10px) 0 rem_calc(20px) 0;

  }


  @media #{$small-only} {
    p {
      // margin-bottom: rem_calc(0px);
      font-size: 1rem;
    }

    img {
      margin-bottom: rem_calc(20px);
    }
  }

}

.no-bg-padding {
  .html-module {
    padding: 0 $side-block-padding;
    margin: 0 calc(-#{$side-block-padding});
  }
}
