@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';


.pie-chart {
  .c3-legend-item {
    text {
      @include defaultParagraph();
      font-size: 14px;
      transform: translate3d(0, 0, 0);
      fill: $simon-black !important;
      padding-right: 2rem;

      @media #{$small-only} {
        font-size: $h3-28px;
      }
    }
  }
  .c3-chart-arc text {
    @include defaultParagraph();
    font-size: 14px;
  }
}
