@import "common/foundation-settings";
@import "~foundation-sites/scss/foundation";
@import 'common/common';


.app {
  background-color: $lightBgColor;
  height: 100%;
}

html, body {
  min-height: 100%;
}

.top-level-container {
  height: 100%;
}
