@import "~client/app/common/foundation-settings";
@import "~foundation-sites/scss/foundation";
@import '~client/app/common/common';


.app {
  background-color: $lightBgColor;
  height: 100%;
  min-width: $smallest-breakpoint;
}

html, body {
  min-height: 100%;
}

.top-level-container {
  height: 100%;
}
