@import 'common/common';

.textArea {

  .container {
    display: flex;

    .text-area {
      flex: 1;
    }

    .visibilityHidden {
      visibility: hidden;
    }

    .validation-icon {
      flex-basis: rem_calc(3rem);
      padding-left: $padding-10px;
    }
  }

  textarea {

    min-height: rem_calc(150px);
    border-radius: $global-radius;

    &:focus {
      border: 2px solid $blue-focus;
    }


    &.parent-submitted,
    &.ng-dirty {
      &.ng-invalid-required {
        border: 2px solid $alert-color;
        color: red;

        &::placeholder {
          color: $alert-color;
        }
      }

      &.ng-valid-required {
        border: 2px solid $success-color;
        &::placeholder {
          color: $success-color;
        }
      }

    }
  }

  .valid-tick {

    color: $success-color;

    &.invalid {
      color: $alert-color;
    }

  }

}
