@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

.textArea {

  textarea {
    border-radius: $global-radius;
    min-height: rem_calc(150px);
    width: calc(100% - (#{$validation-icon-right} + #{$default-padding}));
    @include inputsBorderStyling();
  }

  h3 {
    margin-bottom: 2 * $default-padding;
  }

  @media #{$small-only} {
    textarea {
      font-size: $font-size-mobile;
    }

    h3 {
      margin-bottom: $default-padding;
      font-size: $font-size-mobile;
    }
  }

}
