@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.composed {

  margin-bottom: 1.25rem;
  background: $really-light-grey;
  padding: $default-padding;
  color: $oil;
}


.block {
  .composed {
    padding: 0 $side-block-padding;
  }
}
