@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.bar-chart {

  $margin-top-chart: rem_calc(10px);
  $margin-bottom-chart: rem_calc(20px);

  margin-top: $margin-top-chart;
  margin-bottom: $margin-bottom-chart;

  @media #{$small-only} {
    margin-top: $margin-top-chart / 2;
    margin-bottom: $margin-bottom-chart / 2;
  }


  .c3-bars-pl2-remaining path {
    stroke-dasharray: 5,5;
    stroke: #C3C3C3 !important;
    stroke-width: 1;
  }

  .c3-axis-x {
    tspan {
      fill: $simon-black;
      font: $defaultFont;
      font-size: $h3-18px;
    }
  }

  .c3-texts text {
    transform: translate3d(0, -.1rem, 0);
    fill: $simon-black !important;
    font: $defaultFont;
    font-size: $h1-34px;
    font-weight: 500;

    @media #{$small-only} {
      font-size: $h3-28px;
    }
  }

}
