@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  font-size: 16px;
  font-family: 'Open Sans';
  transform: translateY(-2px);
}

.c3-chart-arc .c3-gauge-value {
  transform: translateY(-8px);
}

.c3-chart-arcs {
  .c3-chart-arcs-gauge-min,
  .c3-chart-arcs-gauge-max {
    @include defaultParagraph();
    font-size: 13px;
    transform: translateY(-2px);
  }
}
