<div class="gauge-chart">
  <p class="gauge-chart-title text-center">{{ $ctrl.block.data.title }}</p>
  <c3chart bindto-id="gauge-{{$ctrl.block.id}}">
    <chart-column column-id="Data 1"
                column-values="{{$ctrl.block.data.gauge.value}}"
                column-color="{{$ctrl.block.data.gauge.colour}}"
                column-type="gauge" />
    <chart-gauge min="{{$ctrl.block.data.gauge.min}}"
              max="{{$ctrl.block.data.gauge.max}}"
              units=" {{$ctrl.block.data.gauge.unit}}"
              width="40"/>
  </c3chart>
</div>
