@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

.radioList {

  [type="radio"] {
    border-radius: 50%;
  }

  li.ng-enter-stagger,
  li.ng-leave-stagger {
    transition-delay: 50ms;
  }

  li.ng-leave,
  li.ng-move,
  li.ng-enter {
    transition: all linear $speed3;
  }

  li.ng-leave.ng-leave-active, //if you want leave animation
  li.ng-move,
  li.ng-enter {
    opacity: 0;
    height: 0;
    transform: translateY(-10px); // scale(1.1);
  }

  li.ng-leave, //if you want leave animation
  li.ng-move.ng-move-active,
  li.ng-enter.ng-enter-active {
    opacity: 1;
    height: 65px;
    transform: translateY(0); // scale(1);
  }
}
