@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

$height-navigation-banner: rem_calc(80px);
$height-button-banner: rem_calc(45px);

$tick-size: 3rem;

.course-content {
  padding-top: rem_calc(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .course-content-blocks {
    @media #{$small-only} {
      padding-left: $default-padding;
      padding-right: $default-padding;
    }
  }

  fieldset {
    border: none;
    margin: 1rem 0 0;
    padding: 0;
  }

  .block {
    padding-top: $default-padding;
    padding-bottom: $default-padding * 2;

    @media #{$small-only} {
      padding: $default-padding 0;
    }

  }

  .banner {
    color: $white;
    height: auto;

    &-congrats {
      background-color: $success-color;
      p {
        color: $white;
      }
    }

    &-error {
      background-color: $alert-color;
    }

    .banner-content {
      min-height: $height-navigation-banner;
      padding: $default-padding 0;

      p {
        margin-bottom: 0;
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        &:hover {
          color: transparentize($white, .2);
        }
      }
    }
  }

  .step-title {
    font-size: rem_calc(36px);
    line-height: 1.5;
    margin-bottom: rem_calc(20px);

    @media #{$small-only} {
      font-size: rem_calc(24px);
      margin-bottom: rem_calc(10px);
    }
  }

  // We have to override the default (which is 100vh) because the saving step spinner
  // needs to be positioned precisely at the bottom of the content and not at half
  // of the size of the screen
  .loading-spinner {
    height: 100%;
  }

  .bottom-navigation {

    padding-top: rem_calc(40px);

    @media #{$small-only} {
      padding-top: rem_calc(20px);
    }


    .navigation {
      background-color: $light-grey;
      height: $height-navigation-banner;

      button {
        height: $height-button-banner;
        padding: 0;
        margin: 0.5rem 0;
        font-size: $h3-18px;
        font-weight: bold;
        width: rem_calc(136px);
      }

      button:focus {
        outline: none;
      }
    }

    .saving-step-spinner {
      height: 5rem;
    }

  }

}
