
<form novalidate name="topLevelForm" class="course-content">

  <div class="sticky-bottom-container">
    <div class="sticky-bottom-main">

      <div class="row">
        <div class="small-12 medium-10 xlarge-8 small-centered columns">

          <fieldset ng-disabled="$ctrl.isStepCompleted">
          <!-- Beginning of main content in the page -->
          <h4 ng-bind-html="$ctrl.content.breadcrumbs | unsafe | uppercase"></h4>
          <h1>{{$ctrl.content.name}}</h1>

          <div ng-repeat="block in $ctrl.content.blocks track by block.id">
            <div class="block" ng-switch="block.element">

             <div ng-switch-when="container" class="composed panel">
               <p>composed: {{block}}</p>
              <composed block="block" is-top-level-form-submitted="topLevelForm.$submitted" update-parent="$ctrl.updateInputFields(programDataCode, courseContentValue)"></composed>
             </div>

             <div ng-switch-default>
               <p>normal</p>
               <block-manager block="block" is-top-level-form-submitted="topLevelForm.$submitted" on-update="$ctrl.updateInputFields(block.program_data_code, value)"></block-manager>
             </div>

            </div>
          </div>


        </div> <!-- END .small-12 medium-10 xlarge-8 small-centered columns -->
        <!-- END of main content in the page -->

        </fieldset>
      </div> <!-- END .row -->
    </div> <!-- END .sticky-bottom-main -->

    <div ng-show="$ctrl.congratsBannerText || $ctrl.errorBannerText" class="banner y-center-parent" ng-class="{'banner-congrats':$ctrl.congratsBannerText,'banner-error':$ctrl.errorBannerText}">
      <div class="row y-center-child">
        <div class="small-12 medium-10 xlarge-8 columns small-centered">

          <div class="row collapse y-center-parent banner-content">
            <div class="small-11 columns left">
              <div ng-if="$ctrl.congratsBannerText" ng-bind-html="$ctrl.congratsBannerText | unsafe" class="left"></div>
              <div ng-if="$ctrl.errorBannerText" ng-bind-html="$ctrl.errorBannerText | unsafe" class="left"></div>
            </div>
            <div class="small-1 columns y-center-child">
              <span class="fontello-icon icon-pl-tick right" ng-if="$ctrl.congratsBannerText"></span>
              <span class="fontello-icon icon-pl-exclamation right" ng-if="$ctrl.errorBannerText"></span>
            </div>
          </div> <!-- END .banner-content -->

        </div> <!-- END .small-12 medium-10 xlarge-8 columns small-centered -->
      </div> <!-- END .row -->
    </div> <!-- END .banner -->

    <div class="navigation y-center-parent">
      <div class="row y-center-child">
        <div class="small-12 medium-8 columns small-centered">
          <button ng-show="$ctrl.displayPreviousButton" class="secondary radius left" type="button" ng-click="$ctrl.previousStep()">&lt; {{ 'PREVIOUS' | translate }}</button>
          <button class="success radius right" type="submit" ng-click="$ctrl.nextStep(topLevelForm)">{{$ctrl.nextStepButtonLabel}}</button>
        </div>
      </div>
    </div> <!-- END .navigation -->

  </div> <!-- END .sticky-bottom-container -->

</form> <!-- END .course-content -->
