@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

$height-navigation-banner: rem_calc(80px);
$height-button-banner: rem_calc(45px);

$tick-size: 3rem;

.course-content {
  margin-top: rem_calc(20px);
  min-height: calc(100vh - #{$height-footer-nav-banner});
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  fieldset {
    border: none;
    margin: 1rem 0 0;
    padding: 0;
  }

  .block {
    padding: $default-padding 0;
  }

  .banner {
    color: $white;
    height: auto;

    &-congrats {
      background-color: $success-color;
      p {
        color: $white;
      }
    }

    &-error {
      background-color: $alert-color;
    }

    .banner-content {
      min-height: $height-navigation-banner;
      padding: $default-padding 0;

      p {
        margin-bottom: 0;
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        &:hover {
          color: transparentize($white, .2);
        }
      }
    }
  }


  .navigation {
    background-color: $light-grey;
    height: $height-navigation-banner;

    button {
      height: $height-button-banner;
      padding: 0;
      margin: 0.5rem 0;
      font-size: $h3-18px;
      font-weight: bold;
      width: rem_calc(136px);
    }

    button:focus {
      outline: none;
    }
  }

  .saving-step-spinner {
    height: 5rem;
  }
}
