@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';

$height-navigation-banner: rem_calc(80px);
$height-button-banner: rem_calc(45px);

$tick-size: 3rem;

.sticky-bottom-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sticky-bottom-main {
  flex: 1;
}


.course-content {
  height: 100%;

  fieldset {
    border: none;
    margin: 1rem 0 0;
    padding: 0;
  }

  .block {
    padding: $default-padding 0;
  }

  .banner {
    color: $white;
    height: auto;

    &-congrats {
      background-color: $success-color;
    }

    &-error {
      background-color: $alert-color;
    }

    .banner-content {
      min-height: $height-navigation-banner;
      padding: $default-padding 0;

      p {
        margin-bottom: 0;
        font-weight: bold;
      }

      a {
        text-decoration: underline;
        &:hover {
          color: transparentize($white, .2);
        }
      }
    }
  }


  .navigation {
    background-color: $light-grey;
    height: $height-navigation-banner;

    button {
      height: $height-button-banner;
      padding: 0;
      margin: 0.5rem 0;
      font-size: $h3-18px;
      font-weight: bold;
      width: rem_calc(136px);
    }

    button:focus {
      outline: none;
    }
  }
}
