<div class="radio-checkbox checkbox">
  <ng-form id="{{$ctrl.block.data.name}}" name="{{$ctrl.formName}}">
    <header class="flex-container">
      <div class="header-inner">
        <p><strong>{{ $ctrl.name }}</strong></p>
        <p class="note" ng-class="{ 'invalid': this[$ctrl.formName].$invalid && $ctrl.isTopLevelFormSubmitted }">(Please select 1 option below)</p>
      </div>
{{ $ctrl.formInvalid }}
      <div class="validation-icon-right" ng-show="$ctrl.isTopLevelFormSubmitted" aria-hidden="true">
        <span ng-class="{ 'invalid icon-pl-exclamation': this[$ctrl.formName].$invalid, 'icon-pl-tick': !this[$ctrl.formName].$invalid }" class="right fontello-icon"></span>
      </div>
    </header>
    <ul>
      <li ng-repeat="item in $ctrl.block.data.items">
        <label for="checkboxName-{{item.value}}">
          <div class="checkbox-label">
            <span>{{item.label}}</span>
            <strong ng-if="item.sub_label">- {{item.sub_label}}</strong>
          </div>
          <input id="checkboxName-{{item.value}}"
            type="checkbox"
            name="checkbox_group-{{$ctrl.formName}}"
            value="{{item.value}}"
            ng-checked="{{item.checked}}"
            ng-required="$ctrl.checkIfRequired()"
            ng-model="$ctrl.selection[item.value]"
            ng-model-options="{allowInvalid: true}"
            ng-change="$ctrl.actionOnUserInput()">
        </label>
      </li>
    </ul>
  </ng-form>
</div>
