<div class="retrieve-credentials">

  <div class="text-center">
    <h1>{{ 'RESET_PASSWORD' | translate }}</h1>
  </div>

  <br/>
  <br/>

  <div ng-show="$ctrl.emailSent">

    <h3>{{ 'EMAIL_SENT_CONFIRMATION' | translate }}</h3>
    <p>{{ 'IF_CANT_FIND_EMAIL' | translate }}</p>
    <ul>
      <li>{{ 'CHECK_SPAM_FOLDER' | translate }}</li>
      <li>{{ 'MAKE_SURE_GOOD_EMAIL_PROVIDED' | translate }}</li>
      <li>{{ 'RE_ENTER_EMAIL' | translate }}</li>
    </ul>

    <button type="button" class="expand radius" ng-click="$ctrl.backToLogin()">{{ 'BACK_TO_LOGIN' | translate }}
    </button>

    <p class="text-center">{{ 'EMAIL_SUPPORT' | translate }}</p>
  </div>

  <div ng-show="!$ctrl.emailSent">
    <form novalidate name="forgotCrendentials">

      <h3>{{ 'EMAIL' | translate }}</h3>
      <ul class="no-list">
        <li>
          <input type="email"
                 name="email"
                 ng-class="{ 'parent-submitted': forgotCrendentials.$submitted }"
                 required
                 ng-model="$ctrl.email">
          <small class="error" ng-show="forgotCrendentials.$submitted && forgotCrendentials.email.$error.required">{{
            'EMAIL_REQUIRED' | translate }}
          </small>
          <small class="error" ng-show="forgotCrendentials.$submitted && forgotCrendentials.email.$error.email">{{
            'EMAIL_NOT_VALID' | translate }}
          </small>
        </li>
        <li>
          <button type="button" class="login-button expand radius" ng-click="$ctrl.resetPassword(forgotCrendentials)">{{
            'RESET_PASSWORD_BUTTON' | translate }}
          </button>
        </li>
        <li>
          <p class="text-center">{{ 'EMAIL_SUPPORT' | translate }}</p>
        </li>
      </ul>
    </form>
  </div>
</div>
