<!-- fix-nav-under class will be inserted in <menu-item> tag -->
<div ng-repeat="child in item.children track by child.id"> <!-- show-this-nav class will be inserted here -->
  <li sync-state id="{{child.fullUrl}}" ng-if="hasChildren(child)" class="has-submenu menu-item">
    <a href="">
      <navbar-menu-button data="child"></navbar-menu-button>
    </a>
    <ul class="left-submenu"> <!-- move-right class will be inserted here -->
      <li class="btn-back-home menu-item"> <!-- btn-back-home class is watched by sync-state directive to go back one level -->
        <a href="">
          <navbar-menu-button data="child" category="'back-button'"></navbar-menu-button>
        </a>
      </li>
      <menu-item item="child"></menu-item>
    </ul>
  </li>
  <li ng-if="!hasChildren(child) && !hideMenuItem(child)"
      ng-click="hideCanvas()"
      class="menu-item">
    <a ui-sref="{{child.fullUrl}}">
      <navbar-menu-button data="child"></navbar-menu-button>
    </a>
  </li>
</div>
<li class="logout menu-item"> <!-- logout class is watched by sync-state directive to logout -->
  <a href="">
    <navbar-menu-button data="logoutButtonData"></navbar-menu-button>
  </a>
</li>
