<div class="locked-page">
  <div class="row">
    <div class="small-12 medium-10 xlarge-8 small-centered columns">

      <br/>
      <br/>

      <div class="flex-parent">
        <div class="y-center-parent">
          <div class="fontello-icon icon-pl-lock icon-inactive y-center-child"></div>
        </div>
        <div class="locked-content">
          <h1>{{ 'CONTENT_LOCKED' | translate }}</h1>
          <h3>{{ 'CONTENT_LOCKED_DETAILS' | translate }}</h3>
          <button class="radius" type="button" ng-click="$ctrl.resumeProgress()">{{ 'RESUME_YOUR_PROGRESS' | translate }}</button>
        </div>
      </div>

    </div>
  </div>
</div>
