@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.company-banner {
  width: 100%;

  .flex-banner {
    display: flex;
    justify-content: space-between;
    height: $tabbar-height;
    padding: $default-padding;
  }

  .company-headings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      margin: 0;
      &.company-header {
        font-weight: $font-weight-bold;
      }
    }
  }

  .company-logo {
    img {
      height: calc(#{$tabbar-height} - 2 * #{$default-padding});
    }
  }

}
