@import '../../common/scss/_vars';
@import '../../common/_foundation-settings';

.module-overview {

  h1 {
    background-color: $lightTextColor;
    font-size: 18px;
    padding: 0 rem_calc(20);
    margin-bottom: rem_calc(20)
  }

  .no-list {
    li {
      display: flex;
      margin: 0;

      &:last-child {
        .fontello-icon {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .icon-wrap {
    position: relative;

    .fontello-icon {
      $icon-border: 1px; //border width of icon

      &::after {
        content: '';
        display: block;
        border: $icon-border solid $locked-grey;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - #{$icon-border});
        z-index: -1;
      }

      &.icon-success {
        &::after {
          border-color: $success-color;
        }
      }

      &.icon-active {
        &::after {
          border-color: $locked-grey;
        }
      }
    }
  }

  .text-wrap {
    margin-left: rem_calc(20);
    padding-bottom: rem_calc(20);
    h2 {
      margin: 0;
    }
    p {
      color: lighten($simon-black, 10);
      margin: 0;

      &.duration {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
