@import '../common';

$flag-icon-css-path: './flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;




.changeLanguage {
  height: $changeLanguageHeight;
  background-color: $primaryColor;

  .flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .flag-icon {
    @extend .flag-icon-background;
    position: relative;
    display: inline-block;
    width: (4 / 3) * 1em;
    line-height: 1em;
    &:before {
      content: '\00a0';
    }
    &.flag-icon-squared {
      width: 1em;
    }
  }

  @mixin flag-icon($country) {
    .flag-icon-#{$country} {
      background-image: url(#{$flag-icon-css-path}#{$flag-icon-rect-path}/#{$country}.svg);
      &.flag-icon-squared {
        background-image: url(#{$flag-icon-css-path}#{$flag-icon-square-path}/#{$country}.svg);
      }
    }
  }


  @include flag-icon(cn);
  @include flag-icon(es);
  @include flag-icon(fr);
  @include flag-icon(gb);

}
