<div class="login">

  <div class="text-center">
    <h2 class="subheading">{{ 'LOGIN' | translate }}</h2>
  </div>

  <form novalidate name="login">

    <small class="error" ng-if="$ctrl.invalidLogin">{{ 'LOGIN_FAILED' | translate }}</small>

    <ul class="no-list">
      <li>
        <label class="h3-style" for="username">{{ 'USERNAME_OR_EMAIL' | translate }}</label>
        <input type="text"
               id="username"
               name="username"
               ng-class="{ 'parent-submitted': login.$submitted }"
               required
               ng-model="$ctrl.username">
        <small class="error" ng-show="login.$submitted && login.username.$error.required">{{ 'USERNAME_OR_EMAIL_REQUIRED' | translate }}</small>
      </li>
      <li>
        <div class="clearfix">
          <div class="left">
            <label class="h3-style" for="password">{{ 'PASSWORD' | translate }}</label>
          </div>
          <div class="right show-password">
            <a ng-click="$ctrl.showPassword = !$ctrl.showPassword">
              <span class="fontello-icon icon-pl-eye"></span>
              <span>{{ $ctrl.showPassword ? 'HIDE' : 'SHOW' | translate }}</span>
            </a>
          </div>
        </div>
        <input ng-attr-type="{{ $ctrl.showPassword ? 'text' : 'password' }}"
               id="password"
               name="password"
               ng-class="{ 'parent-submitted': login.$submitted }"
               required
               ng-model="$ctrl.password">
        <small class="error" ng-show="login.$submitted && login.password.$error.required">{{ 'PASSWORD_REQUIRED' | translate }}</small>
      </li>
      <li>
        <button class="expand radius" type="submit" ng-click="$ctrl.login(login)">{{ 'LOGIN' | translate }}</button>
      </li>
      <!--li class="text-center keep-me-logged">
        <label for="keepMeLoggedIn">
          <input type="checkbox"
                 class="input-checkbox"
                 id="keepMeLoggedIn"
                 ng-model="$ctrl.keepLoggedIn"
                 name="keepMeLoggedIn">
          <span class="checkbox-label">{{ 'KEEP_ME_LOGGED_IN' | translate }}</span>
        </label>
      </li -->
      <li>
        <p class="text-center"><a ng-click="$ctrl.forgotCredentials()">{{ 'FORGOT_CREDENTIALS' | translate }}</a></p>
      </li>
    </ul>


  </form>
</div>
