@import '~client/app/common/scss/_vars';
@import '~client/app/common/_foundation-settings';
// @import '~client/app/common/_foundation-functions';

.login {

  height: 100%;

  .keep-me-logged {
    font-size: 20px;

    a {
      text-decoration: underline;
    }
  }

  form {
    padding-top: rem_calc(20px);
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    height: 3rem;

    @include inputsBorderStyling();
  }
}
