
<h1>{{ $ctrl.name }}</h1>

<h3>INPUT from bindinds data={{ $ctrl.data }}</h3>
<section>
  About us.

  <div>
    <label class="checkbox">
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>

    <accordion close-others="$ctrl.oneAtATime">
      <accordion-group heading="Static Header, initially expanded" is-open="true">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="{{group.title}}" ng-repeat="group in $ctrl.groups">
        {{group.dynamicContent}}
      </accordion-group>
      <accordion-group heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
        <button class="button small" ng-click="$ctrl.addItem()">Add Item</button>
        <div ng-repeat="item in $ctrl.items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="isopen">
        <accordion-heading>
          I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
      </accordion-group>
    </accordion>
  </div>

</section>
